* {
  margin: 0;
  box-sizing: border-box;
}

/*GENERAL styling*/
.hidden {
  display: none;
}
a {
  text-decoration: none;
  font-family: var(--body--font);
  color: black;
}
h4 {
  font-family: var(--body--font);
  font-weight: 600;
}
footer,
body {
  background-color: var(--bg-colour);
}
/*Variables*/
:root {
  --h1--font: "gopher", sans-serif;
  --body--font: "neue-haas-grotesk-display", sans-serif;
  --bg-colour: #f8f6f4;
  --light--orange: #e8a473;
  --med--orange: #e07b53;
  --dark--orange: #a55546;
  --line: solid 1.5px black;
}
h1 {
  font-family: var(--h1--font);
}
p {
  font-family: var(--body--font);
  line-height: 1.7rem;
}
h2 {
  font-family: var(--body--font);
  font-weight: 700;
}
h3 {
  font-family: var(--body--font);
  font-weight: 500;
}

/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-family: "neue-haas-grotesk-display", sans-serif;
  z-index: 1;
}
.headerFlex {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.7rem 0rem 0.7rem;
  border-bottom: var(--line);
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: var(--light--orange);
  transition: all 0.2s ease-in-out;
}

.menuContent {
  list-style-type: none;
  padding: 0;
  width: 100vw;
}
.topnav a {
  display: block;
}
.topnav li {
  line-height: 5rem;
  border-bottom: solid 1.5px black;
  border-left: var(--line);
  padding-left: 1rem;
  font-size: 2rem;
}
.topnav li:last-child {
  border-bottom: none;
}
.topnav {
  display: none;
}
.logo {
  background-image: url(svgs/logo-med.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 50px;
  height: 50px;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}
#menu {
  padding-right: 0.6rem;
  cursor: pointer;
}
#menu:hover {
  color: var(--light--orange);
  transition: all 0.2s ease-in-out;
}

/* FOOTER */
.footer_column ul {
  list-style-type: none;
  line-height: 2rem;
  font-family: var(--body--font);
}
.footer_column {
  border-top: solid black 2px;
  padding: 1.5rem;
}
.three {
  border-bottom: solid black 2px;
}
.footer_column li a,
.addtoCart,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.footer_container {
  display: flex;
  flex-direction: column;
}
.footer_logo {
  width: 65px;
  height: 60px;
}
.facebook {
  margin-left: 0.5rem;
}

/* HOME PAGE */
main.homePage {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f8f6f4;
}
/*hero image*/
img.heroImage {
  width: 100vw;
  border-bottom: solid 2px black;
}
.heroText {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 2rem;
}
.heroText a {
  font-family: var(--body--font);
  text-decoration: none;
  color: black;
}
/* split three links*/
section.threeLinks {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
section.threeLinks a.bigImg {
  border-top: solid 1.5px black;
  width: 100vw;
  height: 100vh;
  background-image: url(images/hero-image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.threeLinks .smallImgs {
  display: flex;
}
section.threeLinks .smallImgs a {
  border-top: solid 1.5px black;
}
section.threeLinks .smallImgs a.imgRight {
  border-left: solid 1.5px black;
  background-image: url(images/about.png);
  background-size: cover;
}
section.threeLinks .smallImgs a.imgLeft {
  background-image: url(images/oil-picture.png);
  background-size: cover;
}
section.threeLinks .smallImgs a {
  width: 50vw;
  height: 50vh;
}
section.threeLinks .smallImgs img {
  width: 100%;
  height: 100%;
}
/* how it works*/

section.howWorks {
  grid-column: 1/3;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: var(--line);
}

section.howWorks h4 {
  font-size: 1.2rem;
  display: flex;
  align-self: center;
  justify-content: center;
}
.arrow {
  display: none;
}
.stepOne,
.stepTwo,
.stepThree,
.stepFour {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.stepOne p,
.stepTwo p,
.stepThree p,
.stepFour p {
  padding-bottom: 0.5rem;
}
.stepOne,
.stepThree {
  grid-column: 1;
}
.stepTwo,
.stepFour {
  grid-column: 2;
}
.stepFour,
.stepThree {
  grid-row: 2;
}
.stepOne a,
.stepTwo a {
  border: var(--line);
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 0.5rem;
  width: 8rem;
  text-align: center;
}
.stepOne a:hover,
.stepTwo a:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
/* grid lines steps */
.stepTwo {
  grid-row: 1;
  padding: 3rem;
  border-bottom: var(--line);
  border-left: var(--line);
}
.stepOne {
  padding: 3rem;
  border-bottom: var(--line);
}
.stepFour,
.stepThree {
  padding: 3rem 3rem 6rem;
}
.stepFour {
  border-left: var(--line);
}

/* SCROLL TRY OUT */

#scrollBanner {
  grid-column: 1/3;
  overflow: hidden;
  background-color: white;
  width: 100vw;
  height: 4rem;
}
.scrollText {
  z-index: -100;
  width: 100vw;
  font-family: var(--body--font);
  color: var(--med--orange);
  font-weight: 400;
  line-height: 4rem;
  font-size: 1.5rem;
  animation: banner 20s linear infinite;
}
@keyframes banner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* product list page */
#mainProductL {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.333vw));
  padding-top: 5rem;
}
h3.shopPL {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  border-bottom: var(--line);
}
.listimg {
  width: 100%;
  border-bottom: var(--line);
}
#infoPL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: var(--line);
  padding-bottom: 1rem;
}

.nameProductL,
.priceProductL {
  padding: 0.5rem 1rem;
  align-self: center;
}

/* product page */
#mainPP {
  padding-top: 5rem;
}
.cartPP a:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.productPage {
  padding-top: 3rem;
  padding-left: 3rem;
  border-top: var(--line);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.extraPad {
  padding-bottom: 4rem;
}
#infoPP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: var(--line);
}

.soapBarimg {
  width: 100%;
}
.cartButton {
  border: var(--line);
  padding: 0.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: black;
  color: white;
}
.unitButton {
  border: var(--line);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: white;
}
span {
  padding-left: 5%;
  padding-right: 5%;
}
.cartPP {
  padding-bottom: 5rem;
}
/*.unitPP {
  padding-left: 32%;
}*/

/**CRATE SOAP PAGE**/

.createSoap {
  display: grid;
  grid-template-columns: 50% 50%;
}
/****** MEDIA QUERIES *************/
@media only screen and (min-width: 958px) {
  /*HEADER DESKTOP */
  #accountRemove {
    display: none;
  }
  .AccontCart a:nth-child(2) {
    padding-left: 1rem;
  }
  .headerFlex {
    display: grid;
    grid-template-columns: 49% 1fr 20%;
  }
  .AccontCart {
    justify-self: end;
  }
  #menu {
    display: none;
  }
  #displayNav {
    display: block;
  }
  .menuContent {
    width: auto;
  }
  .topnav li {
    line-height: 1rem;
    border-bottom: none;
    border-left: none;
    font-size: 1rem;
    padding: 0;
  }
  .topnav ul {
    display: flex;
    gap: 0.9rem;
  }
}

@media only screen and (min-width: 768px) {
  /* FOOTER */

  .footer_container {
    display: flex;
    flex-direction: row;
  }
  .footer_column {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    padding: 3rem;
  }
  .one,
  .two {
    border-right: solid black 2px;
  }
  .one,
  .two,
  .three {
    width: 33.33vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .one,
  .three {
    flex-direction: column;
  }
  .one {
    align-items: flex-start;
  }
  .two {
    align-items: flex-end;
  }
  .three {
    text-align: end;
    align-items: flex-end;
  }

  /* HOME PAGE */

  section.howWorks {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 0;
    padding: 0;
  }
  main.homePage h2 {
    display: none;
  }
  .stepFour,
  .stepOne,
  .stepThree,
  .stepTwo {
    align-self: flex-start;
    padding: 2rem;
    border-bottom: none;
  }
  .stepTwo {
    border-right: var(--line);
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .stepFour,
  .stepThree {
    padding-bottom: 5.78rem;
  }
  .howWorks p {
    padding-bottom: 3rem;
  }

  /*three links*/
  section.threeLinks {
    flex-direction: row;
  }
  section.threeLinks .smallImgs {
    flex-direction: column;
  }
  section.threeLinks a.bigImg {
    height: 110vh;
  }
  section.threeLinks .smallImgs a {
    width: 40vw;
    height: 55vh;
  }
  section.threeLinks .smallImgs a.imgLeft {
    border-left: var(--line);
  }

  /* PRODUCT PAGE */

  #mainPP {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    padding-top: 4rem;
  }

  .productPageimg {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .productPageimg img {
    width: 100%;
    height: 100%;
  }
  #infoPP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: none;
    padding-bottom: 0;
  }
  .productPageimg {
    border-left: var(--line);
  }

  /* PRODUCT LIST*/
  .productList {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 80% 20%;
  }
  .listimg {
    grid-row: 1 / 2;
  }
  #infoPL {
    grid-row: 2 / 3;
  }
}

@media only screen and (max-width: 958px) {
  .AccountDesktop {
    display: none;
  }
  .cartButton {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media only screen and (max-width: 500px) {
  .productPage {
    padding-left: 1rem;
  }
}
